@media screen and (max-width: 800px){
    .navbar-collapse li a {
        color: #ffc61a;
        font-size: 20px;
    }

    .store {
    padding-top: 0 !important;
}
.card {
    padding:0;
}
.card-body {
    margin-top: 30px;
}
.res-text h2 {
    font-size: 20px;
    margin-bottom:10px !important ;
}
#feedback_area{
    padding-top: 0;
}

}

@media screen and (max-width:570px){
    .navbar-collapse li a {
        color: #ffc61a;
        font-size: 14px;
    }
    .subHeader h1 {
        font-size: 46.2px;
        margin-bottom: 0;
    }
    .subHeader {
        color: white;
        padding-bottom: 30px;
    }
    .form-area {
        border-radius: 0px;
        margin-left: 0px; 
    }
    .form-row {
        margin: 0;
    }

    .card{
        padding-top: 80px;
        margin-bottom: 80px !important;
        
       
    }

    .card-group {
        padding-top: 20px !important;
        padding: 0 50px;
    }



.wish-row {
    margin-left:0;
    
}

.wish-row h5 {
    font-size: 15px;

}
.wish-row p {
    font-size: 10px;
}
.inner_contact h3 {
    font-weight: 600;
    font-size: 20px;
}

#about_area h2 {
    padding-bottom: 25px;
    margin-bottom: 50px;
    border-bottom: #ffc61a 4px solid;
    font-size: 18px;
}
#about_area p {
    line-height: 1em;
    font-size: 12px;
}
.icon i {
    padding: 0;
}
#about_area h6 {
    line-height: 1em;
    letter-spacing: .3px;
    font-size: 14px;
}
.fa-android , .fa-apple {
    font-size: 14px !important;
}
#about_area .col-sm-2 {
    width: auto;
}
}


@media screen and (max-width:450px){
    .subHeader small {
        font-size: 12px ;
        letter-spacing: 3px;
    }
    .subHeader h2 {
        margin-top: 32px;
        font-size: 26.74px;
    }
    .subHeader h1 {
        font-size: 42.2px;
    }
    #service_area h3 {
        font-size: 25px;
    }
    #service_area h2 {
        margin-bottom: 23px;
        font-size: 29px;
       
    }
    #service_area p {
        font-size: 12px;
    }
    .inner_feed {
        padding-top: 0;
    }
    .btn {
      font-size: 12px;
    }
    .card {
        padding-top: 13px;
    }
    .card-text {
        line-height: 1em;
        font-size: 12px;
    }
    .card-body h2{
        font-size: 25px;
    }

    #download_area .col-5 {
        margin-right: 0px !important;
    }
    #download_area .col-5 h6 {
        font-size: 15px;
    }
    #download_area .col-5 p {
        font-size: 10px;
    }
.store .col-6 {
    padding-right: 0;
}
#download_area .col-4 {
    padding-right: 0;
}

    .inner_contact h3 {
        font-size: 16px;
    }
    .inner_contact h1 {
        font-size: 36px;
    }
    #about_area {
        padding-top: 25px;
        padding-bottom: 0px;
    }
    .res-text{
        margin-right: 0;
    }
    #about_area h2 {
        padding-bottom: 25px;
        font-size: 12px;
    }
    #about_area h6 {
        font-size: 10px;
    }
    #about_area p {
    
        font-size: 8px;
    }
    .fa-android, .fa-apple {
        display: none;
        font-size: 13px !important;
    }
.para-3 p {
        margin-bottom:0;
    }
 .feed_card p {
       font-size: 12px;
    }
#feedback_area h3 {
        font-size: 32px;
    }
 #wish_area h3 {
        font-size: 32px;
    }
.head_card h3 {
        font-size: 32px;
        padding: 0 !important;
    }

}

